<footer class="footer"> 

    <div class="container">
        <div class="row" >
            <div class="col-md-5 col-sm-12 px-5">
    
                <h1 class="logo text-center">  Restaurant Garuda<p>Indian Kitchen</p></h1>
                <!-- <img class="logo" src="./../../assets/images/logo.png"> -->
                <p class="footer-description">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>
            </div>

            <div class="col-md-3 col-sm-12 px-5">
    
                <p class="footer-title">Opening Times</p>
                <p class="footer-description">
                    Monday - Friday  <br><span class="color-content">9.00 AM to 10.00 PM</span>

                </p>
                <p class="footer-description">
                    Saturday - Sunday  <br><span class="color-content">9.00 AM to 12.00 PM</span>

                </p>

            </div>
            <div class="col-md-4 col-sm-12 px-5">
    
                <p class="footer-title">Contact Us</p>
                <p class="footer-description">
                    382 Vineyard Drive  Street, Woodville City, Ohio State, United States - 4346
                
                    <br>
                    <label class="icon-based"><i class="icofont icofont-telephone color-content"></i>+1 440-323-9594</label>
                    
                    <label class="icon-based"><i class="icofont icofont-email color-content"></i>restaurantgaruda@gmail.com</label>
                </p>

            </div>
            
        </div>
        <div class="row">
            <div class="col-md-8 px-5">
                <ul class="social list-inline">
                    <li class="tweet"> <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                    </li>
                    <li class="fb"> <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                    </li>
                    <li class="in"> <a href="#"><i class="icofont icofont-social-instagram"></i></a>
                    </li>
                    <li class="in"> <a href="#"><i class="icofont icofont-social-youtube"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4 px-5">

                <button class="btn direction-button">
                    Get Directions <i class="color-content icofont icofont-arrow-right"></i>
                </button>

            </div>
        </div>

        <div class="text-center copy-right">
            © Copyrights 2022 Restaurant Garuda. All rights reserved
        </div>
    </div>

   

</footer>