<h1 class="section-header">Testimonials</h1>
<h3 class="section-sub-heading">OUR CUSTOMER SAYS </h3>

<section class="testimonials-section">

    <div class="bg-blur-container">

    </div>


    <carousel [noWrap]="false" [isAnimated]="true" [showIndicators]="true" [interval]="5000">
        <slide>
            <div class="text-center slide-container ">

                <h1 class="quote">“</h1>
                <p class="message"> The food that was prepared was fantastic and I heard a lot of good comments as I was moving around. The presentation was also very impressive.
                </p>
                <p class="text-end user-name">
                    - Vinodh Kumar
                </p>
                
            </div>
        </slide>
        <slide>
            <div class="text-center slide-container ">

                <h1 class="quote">“</h1>
                <p class="message"> Everyone had a lovely time and a luscious dinner. Even our fussiest eaters enjoyed the meal and I am sure you’ve gained a few more fans.
                </p>
                <p class="text-end user-name">
                    - Vinodh Kumar
                </p>
                
            </div>
        </slide>
        <!-- <slide>
            <div class="text-center ">
                
            </div>
        </slide>
        <slide>
            <div class="text-center ">
                
            </div>
        </slide> -->
    </carousel>

</section>

